<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table id="example" class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Packs</th>
          </tr>
        </thead>
        <tbody>
            <%  @products.each do |item| %>
              <tr>
                <td><%= item.name %></td>
                <td><%= item.code %></td>
                <td>
                  <% item.package.each do |pack| %>
                    <%= pack.packs %>@ <%= pack.price %><br>
                  <% end %>
                </td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="veg">Vegemite Scroll</label>
        <input type="text" class="form-control" id="veg" placeholder="Amount">
      </div>
      <br>
      <div class="form-group">
        <label for="blue">Blueberry Muffin</label>
        <input type="text" class="form-control" id="blue" placeholder="Amount">
      </div>
      <br>
      <div class="form-group">
        <label for="cro">Croissant</label>
        <input type="text" class="form-control" id="cro" placeholder="Amount">
      </div>
      <br>
      <div class="form-group">
        <input type="button" id="submit" class="btn btn-success btn-sm" value="Submit">
      </div>
    </div>
    <div class="col-md-6">
      <div class="veg">

      </div>
      <br>
      <div class="blu">
      </div>
      <br>
      <div class="cro">
      </div>
    </div>
  </div>
</div>